extends layout

block content
	.content-wrapper
		.jumbotron.search-city
			h1 #{places[0].location.city}
		.out-layout-wrapper
			.form-container.expanded
				form.inline-form(method='POST' action='/search?offset=1')
					div.form-group
						input.form-control.city-input(type='text' id='city' placeholder='Which city are you planning on parting tonight?' name='city' required)
						input.form-control.country-input(type='text' id='country' placeholder='What country is that?' name='country' required)
					button.btn.form-btn(type='submit') Lets go!
			- var i = 1;
			.pagination-container
				while i <= max_pages
					if page === i
						form(method='POST' action='/search?offset='+i)
							button.page-btn.selected(type='submit' name='city' value=places[0].location.city +', '+places[0].location.country disabled)= i++
					else
						form(method='POST' action='/search?offset='+i)
							button.page-btn(type='submit' name='city' value=places[0].location.city +', '+places[0].location.country)= i++
			.search-items-container
				each place in places
					.search-item
						.img-container(style='background:url('+place.image_url+') center no-repeat; background-size:cover;')
						.details-container
							.item-title #{place.categories[0].title}
							.item-name
								h1.name #{place.name}
							.details
								.address 
									strong Address: 
									| #{place.location.address1}, #{place.location.zip_code}
								.phone 
									strong Phone:
									| #{place.phone} 
								.yelp-url
									a(href=place.url target='_blank') Click for more details!
						.aditional-info-container 
							.rating-container
								- var n = place.rating;
								- while(n > 0) {
										if Number.isInteger(n) || n >= 1
											i.fa.fa-star
											-n--
										else 
											i.fa.fa-star-half-empty
											-n--
								- }
								h3 Rating: #{place.rating}
							.price 
								| Price: 
								strong #{place.price}
							.status.open Reviews: #{place.review_count}
							form(method='POST' action='/search/'+place.id)
								-if(userPlaces.indexOf(place.id) !== -1) {
									button.btn.form-btn.search-item-btn.btn-active(type='submit') Not going!
								-} else {
									button.btn.form-btn.search-item-btn(type='submit') I'm in!
								-}
				.footer-container
					// load footer.pug
					include footer